
* {
    box-sizing: border-box;
}

section.BarMenu {
    background-image: url("../images/5.jpg") ;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    width: 100%;
    display: table;
    margin: 0;
    /* max-width: 100%; */
}

ul  {
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    right: 0;
}
  
li a.onleft {
    float: left;
}

li a.onright {
    float: right;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}

h1 {
    color: white;
    text-align: left;
    padding-top: 6%;
    padding-left: 90px;
    font-size: 50px;
}
h5 {
    color: white;
    text-align: left;
    padding: 4% 8% 0% 8%;;
    font-size: 30px;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.SearchTable {
    padding: 1% 8% 3% 8%;
}

.DiseaseSearch {
    font-size: 0.875rem;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius:0;
    text-align: left;
    padding: 2%;
}

.search_button{
    width: 10%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 1.6%;
    border-radius:0;
    background-color: teal;
    color: white;
}


dot.one { animation-delay: 0.2s; }
dot.two { animation-delay: 0.5s; }
dot.three { animation-delay: 0.7s; }
  

@keyframes showHideDot {
    0% { opacity: 0; }
    50% { opacity: 1; }
    60% { opacity: 1; }
    100% { opacity: 0; }
}


/* kortele */

.kortele {
    border-style: solid;
    background-color: rgb(81, 138, 190);
}

.sect_2 {
    padding: 8%;
}

.research_title {
    padding: 2%;
    color: beige;
    font-family: 'Lucida Sans Regular';
}

.korteles_vidurys {
    padding: 2%;
}